<!doctype html>
<html class="no-js" lang="en">
    <head>
        <title>{{ .parent.Title }}</title>
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="twitter:card" content="summary"></meta>
        <meta property="og:url" content="https://hn.adhikasp.my.id/item?id={{ .parent.ID }}" />
        <meta property="og:title" content="{{ .parent.Title }}" />
        {{ template "style.tmpl" }}
    </head>
    <body>
        {{ range .items }}
            <article style="padding-left: {{ multiply .Depth 0.4 }}em;">
                <h1>
                    {{ .Title }}
                </h1>
                <p>{{ unescapeHtml .Text }}</p>
                <p><a href="{{ unescapeHtml .URL }}">{{ .URL }}</a></p>
                By: {{ .By }}
                {{ if eq .Depth 0 }}
                    {{ if .Parent }}
                    | <a href="item?id={{ .Parent }}">See parent post</a>
                    {{ end }}
                    | <a href="https://news.ycombinator.com/item?id={{ .ID }}">See on Hacker News</a>
                    | {{ .Time.Format "2006 Jan 02, 15:04 UTC" }}
                {{ end }}
                <hr />
            </article>
        {{ end }}
    </body>
</html>